
hr{
    margin: 0;
    color: black;
    opacity: 1;
    border-width: 2px;
    margin: 0 5%;
}
li{
    list-style-type: none;
}
#navigation{
    padding: 1% 6%;
}
.profile-icon{
    border: 1px solid black;
    border-radius: 50%;
    padding: 35%;
}

.navbar-brand{
    padding-left: 10%;
    padding-top: 1%;
    size: 150%;
}
.navItems{
    position: absolute;
    right: 10%;
    top: 20%;
}
.nav-item{
    margin: 0 30px;
}




#heading{
    margin: 1% 5%;
    padding: 10% 10%;
    /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7dDhQ81wJrfV33ncaQGvnBunbFx32bxyrsA&usqp=CAU'); */
    /* background-image: url('images/journal.jpg');
    opacity: .7; */
    background-image: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.3)), url("images/journal.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.search-input{
    width: 40%;
}

#discplines{
    padding: 5% 15%;

}
.cards{
    margin: 30px auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.card-body{
    text-align: center;
    line-height: 1.5;
    padding: 15px;
}
.card-img{
    width: 100%;
    height: 170px;
    display: block;
}



#footer{
    padding: 3% 12%;
    color: white;
    background-color: black;
}
.social-links{
    margin: 4px;
}
.copyright{
    text-align: center;
    color: grey;
}


  